@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
:root {
    --fonte1: verdana, sans-serif, tahoma;
    --fonte2: 'Passion One';
    --fonte3: 'Sriracha';
}
header {
    background-color: black;
    width: 100%;
    max-height: 250px;
    padding: 7vh;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.315);
}
header h1 {
    color: white;
    font-size: 4em;
    font-variant: small-caps;
    font-family: var(--fonte2);

}
header p {
    color: rgba(255, 255, 255, 0.877);
    font-size: 1em;
    font-family: var(--fonte1);
}
header a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte2);
    font-size: 1.3em;
}
header a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
main {
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.288);
}

section {
    padding: 50px;
    line-height: 2em;
    font-size: 1.4em;
    font-family: var(--fonte3);

}

section.imagem{
    background-size: cover;
    background-color: rgb(51, 51, 51);
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    width: 280px;
    border-radius: 5px;
    padding-left: 7px;
    text-shadow: 1px 1px 0px black;
    
}
section > p {
    margin-bottom: 2em;
}

section#img1 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-attachment: fixed;
}

section#img2 {
    background-image: url('../imagens/background002.jpg');
    background-attachment: fixed;
}


footer {
    background-color: black;
    width: 100vw;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
    
}
